body {
	background: rgb(254, 238, 189);
}

table {
	font-family: 宋体;
	font-size: 11pt;
	border-color: rgb(78, 78, 78);
	width: 60%;
}

td {
	padding: 5px;
}

.trTitle {
	background: rgb(78, 78, 78);
	color: #fff;
}

.trOneLevel {
	background-color: #fff;
	font-weight: 900;
}

.captionAddOneLevel {
	line-height: 30px;
}

.trTwoLevel {
	text-align: right;
	font-size: 10pt;
}