#divmain {
	margin-left: 240px;
}

#divTitle {
	line-height: 30px;
	width: 880px;
	heith: 30px;
	border: 1px solid #d0d0d0;
	background: url(/goods/images/bg_btns.png) repeat-x 0px -132px;
}

#spanTitle {
	margin-left: 18px;
	font-weight: 900;
}

#divBody {
	width: 880px;
	heith: 400px;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}

.tdText {
	width: 300px;
	text-align: right;
}

.tdInput {
	width: 250px;
}

.tdError {
	width: 300px;
}

#tableForm {
	line-height: 50px;
}

.inputClass {
	width: 240px;
	height: 32px;
	border: 1px solid #7f9db9;
	line-height: 32px;
	padding-left: 10px;
}

#imgVerifyCode {
	width: 100px;
}

#divVerifyCode {
	text-align: center;
	border: 1px solid #e2e2e2;
}

.errorClass {
	background:url(/goods/images/error.png) no-repeat;
	color:#f40000;
	background-color: #fef2f2;
	font-size: 10pt;
	border:1px solid #ffb8b8;
	padding: 8px 8px 8px 35px;
	
}







