table {
	font-size: 10pt;
}

td {
	padding-left: 5px;
}

body {
	font-size: 10pt;
	color: #404040;
}

.divMain {
	width: 1000px;
	margin-left: 150px;
}

.pLink {
	margin-left: 150px;
}

.title {
	border: 1px solid #d0d0d0;
	background: url(/goods/images/bg_btns.png) repeat-x;
	background-position: 0 -132px;
	margin-left: 2px;
	height: 30px;
	width: 99.8%;
}

.price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
	font-size: 10pt;
}

.tt {
	background-color: #efeae5;
	height: 25px;
	font-family: Arial;
	color: #878787;
}